---js
const eleventyNavigation = {
	key: "Genealogy",
	order: 4
};
---
<h1>Genealogy Scans</h1>

The following are scans from Gamlin/Foster Archives (boxes of papers passed around the family). Each post below is a collection of scans, 
and a [transcription](https://www.handwritingocr.com) if it was text.

{% set postslist = collections.Genealogy %}
{% include "scanlist.njk" %}
