<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="icon" href="img/pitr-bunny-icon.ico" type="image/x-icon">
		{# See https://github.com/11ty/eleventy-plugin-bundle for bundle info #}
		<style>
			{% include "css/custom.css" %}
		</style>
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> 
	</head>
	<body>
		<header>
			<h1 id="nav-title"><a href="/">Wabbitinc</a></h1>
			<nav>
				<ul>
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item"q><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="main" class="container">
			{{ content | safe }}
		</main>

		<footer class="container">
			<p><small><em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>





