---
layout: layouts/base.njk
---

<h1 class="h1-post">{{title}}</h1>
<small><em><p class="p1-post"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p></em></small>

{{ content | safe }}

